<div class="position-relative">
    <h4>Proyectos</h4>

</div>
<div class="content-container p-3 mb-5 shadow">
    <div class="row g-3">
        <div class="card-group">
            <ul class="list-group list-group-horizontal-lg">
                <li class="list-group-item list-group-item-light" *ngFor="let proyecto of proyectoslist">
                    <div class="col">
                        <div class="card border-light shadow-sm m-3" style="width: 18rem;">
                            <div class="position-relative gatitos">
                                <img [src]="proyecto.imagen" class="card-img-top" alt="imagen del proyecto">
                                <div class="position-absolute top-50 start-50 translate-middle overlay">
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{proyecto.nombre}}</h5>
                                <div class="position-absolute top-0 end-0 btn-group">
                                    <button type="button" class="btn btn-light" aria-label="Editar educacion" routerLink="/editpro/{{proyecto.id}}">
                                        <fa-icon [icon]="faPenToSquare"></fa-icon>
                                     </button>
                                     <button type="button" class="btn btn-light" aria-label="Eliminar proyecto" (click)="borrar(proyecto.id)">
                                        <fa-icon [icon]="faXmark"></fa-icon>
                                     </button>
                                </div>
                                <p class="card-text">{{proyecto.descripcion}}</p>
                                <a [href]="proyecto.linkSitio" class="btn btn-dark mx-2">Sitio</a>
                                <a [href]="proyecto.linkCodigo" class="btn btn-dark">Código</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#formproyecto" aria-expanded="false" aria-controls="collapseExample" aria-label="Agregar proyecto">
        <fa-icon [icon]="faPlusCircle"></fa-icon>
      </button>
     <div class="collapse" id="formproyecto">
        <div class="card card-body">
   <form>
   <app-newproyecto></app-newproyecto> 
   </form>
        </div>
     </div>
  
</div>