<div class="position-relative">
    <h4>Proyectos</h4>
    <div class="position-absolute top-0 end-0">
        <button type="button" class="btn">
            <fa-icon [icon]="faPenToSquare"></fa-icon>
         </button>
         <button type="button" class="btn" aria-label="Close">
            <fa-icon [icon]="faXmark"></fa-icon>
         </button>
    </div>
</div>
<div class="content-container p-3 mb-5 shadow">
    <div class="row g-3">
        <div class="card-group">
            <ul class="list-group list-group-horizontal-lg">
                <li class="list-group-item list-group-item-light" *ngFor="let proyecto of proyectoslist">
                    <div class="col">
                        <div class="card border-light shadow-sm m-3" style="width: 18rem;">
                            <div class="position-relative gatitos">
                                <img [src]="proyecto.imagen" class="card-img-top" alt="gatitos">
                                <div class="position-absolute top-50 start-50 translate-middle overlay">
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{proyecto.proyecto}}</h5>
                                <p class="card-text">{{proyecto.descripcion}}</p>
                                <a [href]="proyecto.sitio" class="btn btn-dark mx-2">Sitio</a>
                                <a [href]="proyecto.github" class="btn btn-dark">Codigo</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <button type="button" class="btn">
        <fa-icon [icon]="faPlusCircle"></fa-icon>
     </button>
</div>