<div class="position-relative">
   <h4>Educaci&oacute;n</h4>
</div>

<div class="content-container p-3 mb-5 shadow">
   <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let educacion of educacionlist">
         <div class="card">
            <div class="card-header">
               <h5>{{educacion.titulo}}</h5>

               <div class="position-absolute top-0 end-0" *ngIf="isLogged()">
                  <button type="button" class="btn" aria-label="Editar educacion" data-bs-toggle="collapse" data-bs-target="#formularioeditar" routerLink="/editedu/{{educacion.id}}">
                     <fa-icon [icon]="faPenToSquare"></fa-icon>
                  </button>
                  <button type="button" class="btn" aria-label="Eliminar educacion" (click)="borrar(educacion.id)">
                     <fa-icon [icon]="faXmark"></fa-icon>
                  </button>
               </div>

            </div>
            <ul class="list-group list-group-flush">
               <li class="list-group-item"><img [src]="educacion.logo" style="height: 70px; background-color: black;"
                     class="m-2 rounded float-end">{{educacion.establecimiento}} </li>
               <li class="list-group-item">{{educacion.inicio}} - {{educacion.fin}} </li>
            </ul>
         </div>
      </li>
   </ul>
<div *ngIf="isLogged()">
    <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" aria-label="Agregar educacion" *ngIf="isLogged">
      <fa-icon [icon]="faPlusCircle"></fa-icon>
    </button>
</div>
  
   <div class="collapse" id="collapseExample">
      <div class="card card-body">

   <app-new></app-new>  

      </div>
   </div>
</div>