<div class="position-relative">
    <div class="position-absolute top-0 end-0">
    <button type="button" class="btn"> <fa-icon [icon]="faPenToSquare"></fa-icon></button>
     <button type="button" class="btn" aria-label="Eliminar"><fa-icon [icon]="faXmark"></fa-icon></button>
   </div>
   <h4>Experiencia</h4>
     </div>
     <div class="content-container p-3 mb-5 shadow">
    <p>
Agregar experiencia
    </p>
    <button type="button" class="btn"><fa-icon [icon]="faPlusCircle"></fa-icon></button>
    </div>
   
    
