<div class="position-relative">
    <h4>Skills</h4>
    <div class="position-absolute top-0 end-0">
        <button type="button" class="btn">
            <fa-icon [icon]="faPenToSquare"></fa-icon>
        </button>
        <button type="button" class="btn" aria-label="Close">
            <fa-icon [icon]="faXmark"></fa-icon>
        </button>
    </div>
</div>
<div class="content-container p-3 mb-5 shadow">
    <div class="row row-cols-4 row-cols-sm-6 row-cols-md-8 row-cols-lg-12">
        <div  class=" text-center col g-5" *ngFor="let skill of skillslist">
            <img [src]="skill.imagen" class="skillimage">
        </div>
    </div>
    <button type="button" class="btn">
        <fa-icon [icon]="faPlusCircle"></fa-icon>
    </button>
</div>
