<div class="position-relative">
    <h4>Skills</h4>
    <div class="position-absolute top-0 end-0">
        <button type="button" class="btn">
            <fa-icon [icon]="faPenToSquare"></fa-icon>
        </button>
        <button type="button" class="btn" aria-label="Close">
            <fa-icon [icon]="faXmark"></fa-icon>
        </button>
    </div>
</div>
<div class="content-container p-3 mb-5 shadow">
    <ul class="list-group list-group-horizontal-sm">
        <li class="list-group-item flex-fill" *ngFor="let skill of skillslist">
            <img [src]="skill.imagen" class="img-thumbnail">
            {{skill.habilidad}}
        </li>

    </ul>
    <button type="button" class="btn">
        <fa-icon [icon]="faPlusCircle"></fa-icon>
    </button>
</div>