<div class="container">
    <div>
        <h5 class="mb-3">Agregar Proyecto</h5>
        <form class="row" #formSend="ngForm" (ngSubmit)="onSubmit(formSend.value)">
            <div class="form-group col-md-6">
                <label for="nombre"> Nombre del proyecto </label>
                <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre">
            </div>
            <div class="form-group col-md-6">
                <label for="imagenproyecto"> Imagen del proyecto (link) </label>
                <input type="text" class="form-control" id="imagenproyecto" name="imagenproyecto" [(ngModel)]="imagen">
            </div>
            <div class="form-group col-md-6">
                <label for="linkSitio"> Link del Sitio </label>
                <input type="text" class="form-control" id="linkSitio" name="linkSitio" [(ngModel)]="linkSitio">
            </div>
            <div class="form-group col-md-6">
                <label for="linkCodigo"> Link del Repositorio </label>
                <input type="text" class="form-control" id="linkCodigo" name="linkCodigo" [(ngModel)]="linkCodigo">
            </div>
            <div class="form-group col-xl">
                <label for="descripcion"> Detalles </label>
                <textarea id="descripcion" name="descripcion" class="form-control" maxlength="500" [(ngModel)]="descripcion">
                </textarea>
            </div>
            <div>
                <button class="btn btn-dark">
                    Agregar
                </button>
            </div>

        </form>
    </div>
</div> 