<div class="container">
    <div>
        <form class="row">
            <div class="form-group col-md-6">
                <label for="nombre"> Nombre del proyecto </label>
                <input type="text" class="form-control" id="nombre" name="nombre">
            </div>
            <div class="form-group col-md-6">
                <label for="imagenproyecto"> Imagen del proyecto </label>
                <input type="file" accept="image/*" class="form-control" id="imagenproyecto" name="imagenproyecto">
            </div>
            <div class="form-group col-md-6">
                <label for="linkSitio"> Link del Sitio </label>
                <input type="text" class="form-control" id="linkSitio" name="linkSitio">
            </div>
            <div class="form-group col-md-6">
                <label for="linkCodigo"> Link del Repositorio </label>
                <input type="text" class="form-control" id="linkCodigo" name="linkCodigo">
            </div>
            <div class="form-group col-xl">
                <label for="descripcion"> Detalles </label>
                <textarea id="descripcion" name="descripcion" class="form-control" maxlength="500">
                </textarea>
            </div>
            <div>
                <button class="btn btn-dark">
                    Agregar
                </button>
            </div>

        </form>
    </div>
</div>