<div class="container">
        <div>
            <form class="row">
                <div class="form-group col-md-6">
                    <label for="editposicion"> Posicion </label>
                    <input type="text" class="form-control" id="posicion" name="posicion">
                </div>
                <div class="form-group col-md-6">
                    <label for="editempresa"> Nombre de la empresa </label>
                    <input type="text" class="form-control" id=" editempresa" name=" editempresa">
                </div>

                <div class="form-group col-12">
                    <label for="editlogo"> Logo de la empresa </label>
                    <input type="file" accept="image/*" class="form-control" id="editlogo" name="editlogo">
                </div>
                <div class="form-group col-md-6">
                    <label for="editinicio"> Fecha de Inicio </label>
                    <input type="text" class="form-control" id="editinicio" name="editinicio">
                </div>
                <div class="form-group col-md-6">
                    <label for="editfin"> Fecha de finalizacion </label>
                    <input type="text" class="form-control" id="editfin" name="editfin">
                </div>
                <div class="form-group col-12">
                    <label for="editdescripcion"> Detalles </label>
                    <textarea id="editdescripcion" name="descripcion" class="form-control" maxlength="500">
                    </textarea>
                </div> 
                <div>
                    <button class="btn btn-dark">
                        Agregar
                    </button>
                </div>
            </form>
        </div>
    </div>
