<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Portfolio</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<meta name="description" content="Roughly 155 characters">
<link rel="stylesheet" type="text/css" href="D:/Niko/Programacion/portfolio/src//style.css">
<link href="C:\Users\ROG BY NG\node_modules\@fortawesome\fontawesome-free\css\solid.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="script.js"></script>
</head>
<app-encabezado></app-encabezado>
<body>
    <div class="container">
      <app-acerca-de></app-acerca-de>
<app-experiencia></app-experiencia>
<app-educacion></app-educacion>
<app-habilidades></app-habilidades>
<app-proyectos></app-proyectos>
   </div>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>   
</body>
</html>


