<div class="container-fluid content-container mb-5 shadow">
  <div class="container-fluid position-relative">
    <img [src]="miPortfolio.banner" class="mw-100" alt="banner" />
    <div class="position-absolute bottom-0 end-0">
      <button type="button" class="btn">
        <fa-icon [icon]="faPenToSquare"></fa-icon>
      </button>
    </div>
  </div>
  <div class="container text-center">
    <div class="row p-5 m-3">
      <div class="col-6 col-md-4">
        <div class="position-relative m-3">
          <img [src]="miPortfolio.foto" alt="pfp" width="222" height="222" class="pfpimg position-relative m-3" />
          <div class="position-absolute bottom-0 end-0">
            <button type="button" class="btn">
              <fa-icon [icon]="faPenToSquare"></fa-icon>
            </button>
          </div>
        </div>
        <h2 style="text-align: center;">{{miPortfolio.nombre}}</h2>
        <h3 style="text-align: center;">{{miPortfolio.titulo}}</h3>
      </div>
      <div class="col-md-8">
        <div class="position-relative">
          <h4 style="padding-top: 10%">Sobre mi</h4>
          <p style="text-align: center;">
            {{miPortfolio.acercade}}
          </p>
          <div class="position-absolute bottom-0 end-0">
            <button type="button" class="btn">
              <fa-icon [icon]="faPenToSquare"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>