<div class="container-fluid content-container mb-5 shadow">
  <div class="container-fluid position-relative">
    <img [src]="pers.banner" class="mw-100" alt="banner" />
    <div >
      <button type="button" class="btn btn-light position-absolute bottom-0 end-0 translate-middle-x" aria-label="Cambiar banner" routerLink="/editar/{{pers.id}}" *ngIf="isLogged">
        <fa-icon [icon]="faPenToSquare"></fa-icon>
      </button>
    </div>
  </div>

  <div class="container text-center">
    <div class="row p-5 m-3">
      <div class="col-12 col-lg-4 text-center">
        <div class="position-relative">
          <img [src]="pers.foto" alt="pfp" class="pfpimg position-relative" />
          <div *ngIf="isLogged">
            <button type="button" class="btn position-absolute bottom-0 end-0 translate-middle" aria-label="Cambiar foto de perfil" routerLink="/editar/{{pers.id}}">
              <fa-icon [icon]="faPenToSquare"></fa-icon>
            </button>
          </div>
        </div>

        <div>
          <h2 class="text-center">{{pers.nombre}}{{pers.apellido}}</h2>
          <h3 class="text-center">{{pers.titulo}}</h3>
        </div>
      </div>
      <div class="col-12 col-lg-8 position-relative pt-5">
        <h4 class="text-center">Sobre mi</h4>
        <p class="text-center">
          {{pers.descripcion}}
        </p>
        <div class="position-absolute bottom-0 end-0" *ngIf="isLogged">
          <button type="button" class="btn" aria-label="Editar descripcion" routerLink="/editar/{{pers.id}}">
            <fa-icon [icon]="faPenToSquare"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>